.SkillsSection{
    // margin: 4.5rem 0;
}

.skills-container{
    .skill-title{
        font-size: 1.4rem;
        font-weight: 400;
    }

    .skill-bar{
        display: flex;
        align-items: center;
        transition: all 0.4s ease-in-out;
        &:hover{
            .progress:hover{
                box-shadow: 0 0 20px #1072d49f;
            }
        }
        .skill-progress{
            width: 100%;
            .progress{
                width:100%;
                height:.5rem;
                margin-left: 1rem;
                background-color: #0381ff36;
                position: relative;
                .inner-progress{
                    position: absolute;
                    background-color: #037fff;
                    height: 100%;
                    bottom:0;
                    left:0;
                }
            }
        }
    }
}